.titulo, .subtitulo {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* main {
    text-align: center;
}



.sec1 {
    text-align: center;
    

}
*/

.formulario {
    border: 1px solid black ;
    
    
    
}

main {
    text-align: center;
    width: 100%;
    margin: 0px;
    
}

form {
    display: inline-block;
    width: 400px;
    background-color: bisque;
}

form label {
    font-family: serif;
    margin-top: 10px;
    display: block;
    font-size: 20px;
}

form input {
    
    display: inline-block;
    margin: 0px 10px 10px 10px;
    padding: 10px 25px ;
    width: 80%;
    

}

input[type="submit"]{
    background-color: rgb(153, 238, 153);
}

